
.App{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.App label{
  text-align: left;
  display: block;
}
.App h2{
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}
.App input, .App textarea, .App select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
}
.App button{
  background: black;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}